
a{
  text-decoration: none;
  color: #c2cfcc;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

a:hover{
  color: #00b38a;
  text-decoration: none;
}
.main{
  overflow: auto;
}